
	<!-- Detail Card v1 -->
	<!-- <div class="cardDetail animated fadeInDown" ng-hide="" id="detailCard">
	 	<div class="image">
			<img style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)); opacity: 0.5;"/>
			<small class="productInfo"><button class="btn btn--small"> View Product Info <i class="fa fa-arrow-right"></i></button></small>
			<button class="mdl-button mdl-js-button mdl-button--primary closeButton caps" ng-click="closeDiv()">close</button>
			<div class="contact u-mb+">
	    		<small>Contact</small>
	    		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored caps caps" ng-click=""><i class="fa fa-phone"></i> {{itemContact}}</button>
	    	</div>
	 	</div>
	  	<div class="caption">
	    	<h5 class="white u-mt0">{{nodeContext}}</h5>
	    	<div class="flex-container u-mb">
		    	<div class="flex-item" ng-repeat="info in nodeItems">
		    		<button class="mdl-button mdl-js-button btn-blue caps" ng-click="getItems(info)">{{info.name}}</button>
		    	</div>
	    	</div>
	    	<div class="flex-container" ng-if="infoDetails">
	    		<div class="flex-item box">
	    			<div class="flex-container">
	    				<div class="flex-item u-mr+">
	    					<ul class="mdl-list u-m0">
								<li class="mdl-list__item pl0" ng-repeat="item in infoDetails track by $index" ng-if="$index < 4">
								    <span class="mdl-list__item-primary-content sf">
								    	{{item.name}}
								    </span>
								</li>
							</ul>
		    			</div>
		    			<div class="flex-item">
			    			<ul class="mdl-list u-m0">
								<li class="mdl-list__item" ng-repeat="item in infoDetails track by $index" ng-if="$index > 4">
								    <span class="mdl-list__item-primary-content sf">
								    	{{item.name}}
								    </span>
								</li>
							</ul>
		    			</div>
	    			</div>
	    		</div>
	    	</div>
	  	</div>
	</div> -->
