/*
OCEAN v1.4
Copyright 2015-2016 OCEAN
*/
@import url("//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/default.min.css");
@import url("//fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,400italic,500,500italic,700,700italic,900,900italic,100italic");
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v16/2fcrYFNaTjcS6g4U3t-Y5StnKWgpfO2iSkLzTz-AABg.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
*:active,
*:focus,
*:hover {
  outline: 0px !important;
  -webkit-appearance: none;
}
ul {
  list-style: none;
  text-align: left;
}
input {
  cursor: text;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
body {
  overflow-x: hidden;
}
/*NAV*/
nav {
  position: relative;
  display: block;
  text-align: left;
  z-index: 90;
  height: 40px;
  line-height: 40px;
  padding: 0px 0.5em;
  width: 100%;
}
nav.sticky.on {
  position: fixed;
  top: 0px;
  left: 0px;
}
/*MENU*/
.target-menu,
.close-menu {
  cursor: pointer;
}
.menu {
  position: fixed;
  top: 0px;
  left: -100%;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  background: #FFF;
  padding: 0px 1em;
}
.menu .line {
  height: 40px;
  line-height: 40px;
}
.menu ul {
  top: 10px;
}
.menu ul li {
  padding: 0.5em 0px;
}
.menu.open {
  left: 0px;
  -webkit-box-shadow: 0px 0px 40px 100vw rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 40px 100vw rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 40px 100vw rgba(0, 0, 0, 0.6);
}
/*SECTION*/
section {
  display: block;
  width: 100%;
  position: relative;
}
section.small {
  width: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
/*LAYOUT*/
.layout {
  background: #FFF;
  width: 100%;
}
/*TYPOGRAFY*/
.arial_black {
  font-family: Arial Black;
}
.comic_sans {
  font-family: "Comic Sans MS";
}
.courier_new {
  font-family: "Courier New";
}
.georgia {
  font-family: Georgia;
}
.impact {
  font-family: Impact;
  letter-spacing: 3px;
}
.tahoma {
  font-family: Tahoma;
}
.verdana {
  font-family: Verdana;
}
.roboto {
  font-family: 'roboto';
}
.italic {
  font-style: italic;
}
.strong {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}
p.big {
  font-size: 1.5em;
}
p.small {
  font-size: 0.9em;
}
p.smaller {
  font-size: 0.7em;
}
blockquote {
  margin-left: 1em;
  padding: 1em 0em 1em 0.5em;
  border-left: 2px solid #ccc;
  font-style: italic;
}
blockquote cite {
  display: block;
  opacity: 0.6;
  margin-top: 1em;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  vertical-align: middle;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-1 {
  font-size: 1em;
}
.material-icons.md-2 {
  font-size: 2em;
}
.material-icons.md-3 {
  font-size: 3em;
}
/*TITLES*/
.title {
  margin: 1em 0px;
  position: relative;
  display: inline-block;
}
.title.LeftLine {
  border-left: 5px solid;
  margin-left: 2em;
  padding-left: 0.5em;
}
.title .UnderLine {
  position: absolute;
  display: block;
  bottom: -10px;
  left: -20%;
  width: 140%;
  height: 2px;
}
.title.flat {
  font-weight: 300;
}
.title.flat span {
  font-weight: 600;
}
/*SHADOWS*/
.m-shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.m-shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.m-shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.m-shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.m-shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
/*BUTTON*/
button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  position: relative;
  cursor: pointer;
  padding: 10px 10px;
  margin: 5px;
  top: 0px;
  border: none;
  padding: 0 30px;
  line-height: 40px;
}
button.long {
  width: 90%;
}
button:hover {
  opacity: 0.5;
}
button.round {
  border-radius: 50px;
}
button.s-round {
  border-radius: 5px;
}
button.outline {
  padding: 0 30px;
  background: none;
  border: 1px solid;
  line-height: 40px;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a.long {
  width: 90%;
}
a:hover {
  text-decoration: underline;
}
a.outline {
  padding: 10px 30px;
  border: 1px solid;
  display: inline-block;
  margin: 1em 0px;
}
a.outline:hover {
  opacity: 0.5;
  text-decoration: none;
}
a.flat:hover {
  text-decoration: none;
  opacity: 0.5;
}
/* scrollbar */
.scrollbar-flat::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background-color: #f1f1f1;
}
.scrollbar-flat::-webkit-scrollbar-thumb {
  background-color: #CDCDCD;
}
.scrollbar-line::-webkit-scrollbar {
  width: 0.2em;
  height: 0.2em;
  background-color: #FFF;
}
.scrollbar-line::-webkit-scrollbar-thumb {
  background-color: #343436;
}
.scrollbar-round::-webkit-scrollbar {
  width: 1em;
  height: 1em;
  background-color: #ECEFF1;
  border-radius: 10px;
}
.scrollbar-round::-webkit-scrollbar-thumb {
  background-color: #37474F;
  border-radius: 10px;
}
/* progress */
.progress {
  position: relative;
}
progress.Red::-webkit-progress-bar {
  background: #FFCDD2;
}
progress.Red::-moz-progress-bar {
  background: #FFCDD2;
}
progress.Red::-webkit-progress-value {
  background: #D32F2F;
}
progress.Red::-moz-progress-value {
  background: #D32F2F;
}
progress.Pink::-webkit-progress-bar {
  background: #F8BBD0;
}
progress.Pink::-moz-progress-bar {
  background: #F8BBD0;
}
progress.Pink::-webkit-progress-value {
  background: #D81B60;
}
progress.Pink::-moz-progress-value {
  background: #D81B60;
}
progress.Purple::-webkit-progress-bar {
  background: #E1BEE7;
}
progress.Purple::-moz-progress-bar {
  background: #E1BEE7;
}
progress.Purple::-webkit-progress-value {
  background: #AB47BC;
}
progress.Purple::-moz-progress-value {
  background: #AB47BC;
}
progress.DeepPurple::-webkit-progress-bar {
  background: #D1C4E9;
}
progress.DeepPurple::-moz-progress-bar {
  background: #D1C4E9;
}
progress.DeepPurple::-webkit-progress-value {
  background: #7E57C2;
}
progress.DeepPurple::-moz-progress-value {
  background: #7E57C2;
}
progress.Indigo::-webkit-progress-bar {
  background: #C5CAE9;
}
progress.Indigo::-moz-progress-bar {
  background: #C5CAE9;
}
progress.Indigo::-webkit-progress-value {
  background: #5C6BC0;
}
progress.Indigo::-moz-progress-value {
  background: #5C6BC0;
}
progress.Blue::-webkit-progress-bar {
  background: #BBDEFB;
}
progress.Blue::-moz-progress-bar {
  background: #BBDEFB;
}
progress.Blue::-webkit-progress-value {
  background: #1976D2;
}
progress.Blue::-moz-progress-value {
  background: #1976D2;
}
progress.Cyan::-webkit-progress-bar {
  background: #B2EBF2;
}
progress.Cyan::-moz-progress-bar {
  background: #B2EBF2;
}
progress.Cyan::-webkit-progress-value {
  background: #0097A7;
}
progress.Cyan::-moz-progress-value {
  background: #0097A7;
}
progress.Teal::-webkit-progress-bar {
  background: #B2DFDB;
}
progress.Teal::-moz-progress-bar {
  background: #B2DFDB;
}
progress.Teal::-webkit-progress-value {
  background: #26A69A;
}
progress.Teal::-moz-progress-value {
  background: #26A69A;
}
progress.Green::-webkit-progress-bar {
  background: #C8E6C9;
}
progress.Green::-moz-progress-bar {
  background: #C8E6C9;
}
progress.Green::-webkit-progress-value {
  background: #43A047;
}
progress.Green::-moz-progress-value {
  background: #43A047;
}
progress.Lime::-webkit-progress-bar {
  background: #F0F4C3;
}
progress.Lime::-moz-progress-bar {
  background: #F0F4C3;
}
progress.Lime::-webkit-progress-value {
  background: #AFB42B;
}
progress.Lime::-moz-progress-value {
  background: #AFB42B;
}
progress.Yellow::-webkit-progress-bar {
  background: #FFF9C4;
}
progress.Yellow::-moz-progress-bar {
  background: #FFF9C4;
}
progress.Yellow::-webkit-progress-value {
  background: #FBC02D;
}
progress.Yellow::-moz-progress-value {
  background: #FBC02D;
}
progress.Orange::-webkit-progress-bar {
  background: #FFE0B2;
}
progress.Orange::-moz-progress-bar {
  background: #FFE0B2;
}
progress.Orange::-webkit-progress-value {
  background: #FFA726;
}
progress.Orange::-moz-progress-value {
  background: #FFA726;
}
progress.DeepOrange::-webkit-progress-bar {
  background: #FFCCBC;
}
progress.DeepOrange::-moz-progress-bar {
  background: #FFCCBC;
}
progress.DeepOrange::-webkit-progress-value {
  background: #F4511E;
}
progress.DeepOrange::-moz-progress-value {
  background: #F4511E;
}
progress.Brown::-webkit-progress-bar {
  background: #D7CCC8;
}
progress.Brown::-moz-progress-bar {
  background: #D7CCC8;
}
progress.Brown::-webkit-progress-value {
  background: #6D4C41;
}
progress.Brown::-moz-progress-value {
  background: #6D4C41;
}
progress.Grey::-webkit-progress-bar {
  background: #EEEEEE;
}
progress.Grey::-moz-progress-bar {
  background: #EEEEEE;
}
progress.Grey::-webkit-progress-value {
  background: #757575;
}
progress.Grey::-moz-progress-value {
  background: #757575;
}
progress.BlueGrey::-webkit-progress-bar {
  background: #CFD8DC;
}
progress.BlueGrey::-moz-progress-bar {
  background: #CFD8DC;
}
progress.BlueGrey::-webkit-progress-value {
  background: #546E7A;
}
progress.BlueGrey::-moz-progress-value {
  background: #546E7A;
}
progress.big {
  border: 0;
  height: 50px;
  width: 100%;
}
progress.big + label {
  top: 0px;
  line-height: 50px;
  position: absolute;
  width: 100%;
  padding: 0px 20px;
  display: block;
}
/*PALETTE*/
.palette {
  display: inline-block;
  width: 96%;
  margin: 1em 0px;
}
.palette .color {
  padding: 30px 0px;
  text-align: center;
}
.palette .color p {
  font-size: 0.8em;
  position: relative;
}
.palette .bottom {
  display: block;
}
.palette .bottom .color {
  padding: 5px 0px;
}
/*GRID*/
.row {
  font-size: 0;
}
.column-1,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6,
.column-7,
.column-8,
.column-9,
.column-10,
.column-11 {
  vertical-align: top;
  display: inline-block;
  font-size: 14px;
}
.column-1 {
  width: 100%;
}
.column-2 {
  width: 50%;
}
.column-3 {
  width: 33.33333333333333%;
}
.column-4 {
  width: 25%;
}
.column-5 {
  width: 20%;
}
.column-6 {
  width: 16.66666667%;
}
.column-7 {
  width: 14.28571429%;
}
.column-8 {
  width: 12.5%;
}
.column-9 {
  width: 11.11111111%;
}
.column-10 {
  width: 10%;
}
.column-11 {
  width: 9.090909090909091%;
}
/* LightBox */
.lightbox {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}
#lightbox {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 100;
  opacity: 0;
  display: none;
}
#lightbox span {
  font-size: 40px;
  color: #FFF;
  position: absolute;
  cursor: pointer;
  z-index: 110;
  text-shadow: 0px 0px 5px #000000;
}
#lightbox span i {
  font-size: 40px;
  pointer-events: none;
}
#lightbox .close {
  top: 10px;
  right: 20px;
}
#lightbox .next {
  top: 50%;
  right: 30px;
  height: 100px;
  line-height: 100px;
  margin-top: -50px;
}
#lightbox .prev {
  top: 50%;
  left: 20px;
  height: 100px;
  line-height: 100px;
  margin-top: -50px;
}
#lightbox img {
  max-width: 100vw;
  max-height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* headers */
header .line {
  overflow: hidden;
  z-index: 80;
  position: relative;
  height: 60px;
  line-height: 60px;
  padding: 0px 1em;
}
header .line .logo {
  margin-right: 20px;
  float: left;
}
header .line .logo,
header .line ul,
header .line ul li {
  display: inline-block;
}
header .line a {
  display: block;
  height: 60px;
  padding: 0px 10px;
}
header nav {
  position: absolute;
  left: 0px;
}
header nav.top {
  top: 0px;
}
header nav.bottom {
  bottom: 0px;
}
/* Parallax header */
header.parallax,
header.full {
  height: 100vh;
  position: relative;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
header.parallax .content,
header.full .content {
  position: relative;
  display: block;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0px 0px 5px #000000;
}
header.parallax .content h1,
header.full .content h1 {
  font-size: 3em;
  font-weight: normal;
}
header.parallax .content h3,
header.full .content h3 {
  font-size: 1.5em;
  font-weight: lighter;
}
header.parallax .content img,
header.full .content img {
  max-width: 300px;
  max-height: 300px;
}
header.parallax .bg,
header.full .bg {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  min-width: 400px;
  top: 0;
  left: 0;
  opacity: 0.3;
}
header.parallax .bg img,
header.full .bg img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* Blur header */
header.blur {
  height: 500px;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
header.blur .content {
  position: relative;
  display: block;
  color: #FFFFFF;
  min-width: 400px;
  text-align: center;
  text-shadow: 0px 0px 5px #000000;
}
header.blur .content h1 {
  font-size: 3em;
  font-weight: normal;
}
header.blur .content h3 {
  font-size: 1.5em;
  font-weight: lighter;
}
header.blur .content img {
  max-width: 300px;
  max-height: 300px;
}
header.blur .bg {
  display: block;
  position: absolute;
  width: 100%;
  height: 500px;
  top: 0;
  left: 0;
  opacity: 0.3;
}
header.blur .bg img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* Noly header */
header.noly {
  height: 400px;
  min-height: 100px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  overflow: hidden;
  background: #000;
  z-index: 80;
}
header.noly .content {
  position: relative;
  display: block;
  color: #FFFFFF;
  min-width: 400px;
  min-height: 100px;
  text-align: center;
  text-shadow: 0px 0px 5px #000000;
}
header.noly .content h1 {
  font-size: 3em;
  font-weight: normal;
}
header.noly .content h3 {
  font-size: 1.5em;
  font-weight: lighter;
}
header.noly .content img {
  max-width: 300px;
  max-height: 300px;
}
header.noly .bg {
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  display: block;
  position: absolute;
  width: 100%;
  height: 400px;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.7;
}
header.noly .bg-Push {
  top: -5px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
}
header.noly .bg-Push:hover {
  margin-top: 10px;
  opacity: 1;
  top: 0px;
  border-bottom: 0px solid rgba(0, 0, 0, 0.3);
}
header.noly .bg-Bounce {
  -webkit-transition: all 300ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 300ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 300ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 300ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}
header.noly .bg-Bounce:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
header.noly .bg-Shadow:hover {
  top: -10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}
header.noly .bg-Grow:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
header.noly .bg-Up:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
header.noly .bg-Down:hover {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}
header.noly .bg-Rotate:hover {
  -webkit-transform: rotateZ(5deg);
  transform: rotateZ(5deg);
}
header.noly .bg-Wobble_vertical:hover {
  -webkit-animation-name: wobble-vertical;
  animation-name: wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
header.noly .bg-Wobble_horizontal:hover {
  -webkit-animation-name: wobble-horizontal;
  animation-name: wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
header.noly .bg-Buzz:hover {
  -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}
header.noly .bg img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* mouse parallax header */
header.mouse_parallax {
  height: 500px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
header.mouse_parallax .content {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  min-width: 400px;
  text-align: center;
  text-shadow: 0px 0px 5px #000000;
}
header.mouse_parallax .content h1 {
  font-size: 3em;
  font-weight: normal;
}
header.mouse_parallax .content h3 {
  font-size: 1.5em;
  font-weight: lighter;
}
header.mouse_parallax .content img {
  max-width: 300px;
  max-height: 300px;
}
header.mouse_parallax #scene {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
}
header.mouse_parallax .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
header.mouse_parallax .layer img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%) scaleX(1.2) scaleY(1.2);
  -moz-transform: translate(-50%, -50%) scaleX(1.2) scaleY(1.2);
  -ms-transform: translate(-50%, -50%) scaleX(1.2) scaleY(1.2);
  -o-transform: translate(-50%, -50%) scaleX(1.2) scaleY(1.2);
  transform: translate(-50%, -50%) scaleX(1.2) scaleY(1.2);
}
/*INPUTS*/
.border-input {
  position: relative;
  width: 220px;
  display: inline-block;
  padding: 0px 10px;
  margin: 1em 0px;
}
.border-input * {
  vertical-align: middle;
}
.border-input input {
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  border: 2px solid;
  resize: none;
  outline: none;
}
.border-input input:focus ~ label,
.border-input input:valid ~ label {
  top: -10px;
}
.border-input label {
  position: absolute;
  padding: 0px 10px;
  top: 10px;
  left: 20px;
  pointer-events: none;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.float-input {
  margin: 1em 0px;
  position: relative;
  width: 220px;
  display: inline-block;
  padding: 0px 10px;
}
.float-input * {
  vertical-align: middle;
}
.float-input input {
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  border: none;
  resize: none;
  outline: none;
}
.float-input input:focus ~ label,
.float-input input:valid ~ label {
  top: -10px;
  font-size: 0.8em;
  opacity: 0.5;
}
.float-input label {
  position: absolute;
  padding: 0px 10px;
  top: 10px;
  left: 20px;
  pointer-events: none;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/*COLORS*/
.Red {
  background: #F44336;
}
.Red-Dark {
  background: #C62828;
}
.Red-Light {
  background: #FFCDD2;
}
.Red-50 {
  background: #FFEBEE;
}
.Red-100 {
  background: #FFCDD2;
}
.Red-200 {
  background: #EF9A9A;
}
.Red-300 {
  background: #E57373;
}
.Red-400 {
  background: #EF5350;
}
.Red-500 {
  background: #F44336;
}
.Red-600 {
  background: #E53935;
}
.Red-700 {
  background: #D32F2F;
}
.Red-800 {
  background: #C62828;
}
.Red-900 {
  background: #B71C1C;
}
.Red-transparent {
  background: rgba(244, 71, 58, 0.5);
}
.Pink {
  background: #E91E63;
}
.Pink-Dark {
  background: #AD1457;
}
.Pink-Light {
  background: #F8BBD0;
}
.Pink-50 {
  background: #FCE4EC;
}
.Pink-100 {
  background: #F8BBD0;
}
.Pink-200 {
  background: #F48FB1;
}
.Pink-300 {
  background: #F06292;
}
.Pink-400 {
  background: #EC407A;
}
.Pink-500 {
  background: #E91E63;
}
.Pink-600 {
  background: #D81B60;
}
.Pink-700 {
  background: #C2185B;
}
.Pink-800 {
  background: #AD1457;
}
.Pink-900 {
  background: #880E4F;
}
.Pink-transparent {
  background: rgba(233, 32, 99, 0.5);
}
.Purple {
  background: #9C27B0;
}
.Purple-Dark {
  background: #6A1B9A;
}
.Purple-Light {
  background: #E1BEE7;
}
.Purple-50 {
  background: #F3E5F5;
}
.Purple-100 {
  background: #E1BEE7;
}
.Purple-200 {
  background: #CE93D8;
}
.Purple-300 {
  background: #BA68C8;
}
.Purple-400 {
  background: #AB47BC;
}
.Purple-500 {
  background: #9C27B0;
}
.Purple-600 {
  background: #8E24AA;
}
.Purple-700 {
  background: #7B1FA2;
}
.Purple-800 {
  background: #6A1B9A;
}
.Purple-900 {
  background: #4A148C;
}
.Purple-transparent {
  background: rgba(156, 39, 176, 0.5);
}
.DeepPurple {
  background: #673AB7;
}
.DeepPurple-Dark {
  background: #4527A0;
}
.DeepPurple-Light {
  background: #EDE7F6;
}
.DeepPurple-50 {
  background: #EDE7F6;
}
.DeepPurple-100 {
  background: #D1C4E9;
}
.DeepPurple-200 {
  background: #B39DDB;
}
.DeepPurple-300 {
  background: #9575CD;
}
.DeepPurple-400 {
  background: #7E57C2;
}
.DeepPurple-500 {
  background: #673AB7;
}
.DeepPurple-600 {
  background: #5E35B1;
}
.DeepPurple-700 {
  background: #512DA8;
}
.DeepPurple-800 {
  background: #4527A0;
}
.DeepPurple-900 {
  background: #311B92;
}
.DeepPurple-transparent {
  background: rgba(103, 58, 183, 0.5);
}
.Indigo {
  background: #3F51B5;
}
.Indigo-Dark {
  background: #283593;
}
.Indigo-Light {
  background: #C5CAE9;
}
.Indigo-50 {
  background: #E8EAF6;
}
.Indigo-100 {
  background: #C5CAE9;
}
.Indigo-200 {
  background: #9FA8DA;
}
.Indigo-300 {
  background: #7986CB;
}
.Indigo-400 {
  background: #5C6BC0;
}
.Indigo-500 {
  background: #3F51B5;
}
.Indigo-600 {
  background: #3949AB;
}
.Indigo-700 {
  background: #303F9F;
}
.Indigo-800 {
  background: #283593;
}
.Indigo-900 {
  background: #1A237E;
}
.Indigo-transparent {
  background: rgba(63, 81, 181, 0.5);
}
.Blue {
  background: #2196F3;
}
.Blue-Dark {
  background: #1565C0;
}
.Blue-Light {
  background: #BBDEFB;
}
.Blue-50 {
  background: #E3F2FD;
}
.Blue-100 {
  background: #BBDEFB;
}
.Blue-200 {
  background: #90CAF9;
}
.Blue-300 {
  background: #64B5F6;
}
.Blue-400 {
  background: #42A5F5;
}
.Blue-500 {
  background: #2196F3;
}
.Blue-600 {
  background: #1E88E5;
}
.Blue-700 {
  background: #1976D2;
}
.Blue-800 {
  background: #1565C0;
}
.Blue-900 {
  background: #0D47A1;
}
.Blue-transparent {
  background: rgba(33, 150, 243, 0.5);
}
.Cyan {
  background: #00BCD4;
}
.Cyan-Dark {
  background: #00838F;
}
.Cyan-Light {
  background: #B2EBF2;
}
.Cyan-50 {
  background: #E0F7FA;
}
.Cyan-100 {
  background: #B2EBF2;
}
.Cyan-200 {
  background: #80DEEA;
}
.Cyan-300 {
  background: #4DD0E1;
}
.Cyan-400 {
  background: #26C6DA;
}
.Cyan-500 {
  background: #00BCD4;
}
.Cyan-600 {
  background: #00ACC1;
}
.Cyan-700 {
  background: #0097A7;
}
.Cyan-800 {
  background: #00838F;
}
.Cyan-900 {
  background: #006064;
}
.Cyan-transparent {
  background: rgba(0, 188, 212, 0.5);
}
.Teal {
  background: #009688;
}
.Teal-Dark {
  background: #00695C;
}
.Teal-Light {
  background: #B2DFDB;
}
.Teal-50 {
  background: #E0F2F1;
}
.Teal-100 {
  background: #B2DFDB;
}
.Teal-200 {
  background: #80CBC4;
}
.Teal-300 {
  background: #4DB6AC;
}
.Teal-400 {
  background: #26A69A;
}
.Teal-500 {
  background: #009688;
}
.Teal-600 {
  background: #00897B;
}
.Teal-700 {
  background: #00796B;
}
.Teal-800 {
  background: #00695C;
}
.Teal-900 {
  background: #004D40;
}
.Teal-transparent {
  background: rgba(0, 150, 136, 0.5);
}
.Green {
  background: #4CAF50;
}
.Green-Dark {
  background: #2E7D32;
}
.Green-Light {
  background: #C8E6C9;
}
.Green-50 {
  background: #E8F5E9;
}
.Green-100 {
  background: #C8E6C9;
}
.Green-200 {
  background: #A5D6A7;
}
.Green-300 {
  background: #81C784;
}
.Green-400 {
  background: #66BB6A;
}
.Green-500 {
  background: #4CAF50;
}
.Green-600 {
  background: #43A047;
}
.Green-700 {
  background: #388E3C;
}
.Green-800 {
  background: #2E7D32;
}
.Green-900 {
  background: #1B5E20;
}
.Green-transparent {
  background: rgba(76, 175, 80, 0.5);
}
.Lime {
  background: #CDDC39;
}
.Lime-Dark {
  background: #9E9D24;
}
.Lime-Light {
  background: #F0F4C3;
}
.Lime-50 {
  background: #F9FBE7;
}
.Lime-100 {
  background: #F0F4C3;
}
.Lime-200 {
  background: #E6EE9C;
}
.Lime-300 {
  background: #DCE775;
}
.Lime-400 {
  background: #D4E157;
}
.Lime-500 {
  background: #CDDC39;
}
.Lime-600 {
  background: #C0CA33;
}
.Lime-700 {
  background: #AFB42B;
}
.Lime-800 {
  background: #9E9D24;
}
.Lime-900 {
  background: #827717;
}
.Lime-transparent {
  background: rgba(205, 220, 57, 0.5);
}
.Yellow {
  background: #FFEB3B;
}
.Yellow-Dark {
  background: #F9A825;
}
.Yellow-Light {
  background: #FFF9C4;
}
.Yellow-50 {
  background: #FFFDE7;
}
.Yellow-100 {
  background: #FFF9C4;
}
.Yellow-200 {
  background: #FFF59D;
}
.Yellow-300 {
  background: #FFF176;
}
.Yellow-400 {
  background: #FFEE58;
}
.Yellow-500 {
  background: #FFEB3B;
}
.Yellow-600 {
  background: #FDD835;
}
.Yellow-700 {
  background: #FBC02D;
}
.Yellow-800 {
  background: #F9A825;
}
.Yellow-900 {
  background: #F57F17;
}
.Yellow-transparent {
  background: rgba(255, 235, 59, 0.5);
}
.Orange {
  background: #FF9800;
}
.Orange-Dark {
  background: #EF6C00;
}
.Orange-Light {
  background: #FFE0B2;
}
.Orange-50 {
  background: #FFF3E0;
}
.Orange-100 {
  background: #FFE0B2;
}
.Orange-200 {
  background: #FFCC80;
}
.Orange-300 {
  background: #FFB74D;
}
.Orange-400 {
  background: #FFA726;
}
.Orange-500 {
  background: #FF9800;
}
.Orange-600 {
  background: #FB8C00;
}
.Orange-700 {
  background: #F57C00;
}
.Orange-800 {
  background: #EF6C00;
}
.Orange-900 {
  background: #E65100;
}
.Orange-transparent {
  background: rgba(255, 152, 0, 0.5);
}
.DeepOrange {
  background: #FF5722;
}
.DeepOrange-Dark {
  background: #D84315;
}
.DeepOrange-Light {
  background: #FFCCBC;
}
.DeepOrange-50 {
  background: #FBE9E7;
}
.DeepOrange-100 {
  background: #FFCCBC;
}
.DeepOrange-200 {
  background: #FFAB91;
}
.DeepOrange-300 {
  background: #FF8A65;
}
.DeepOrange-400 {
  background: #FF7043;
}
.DeepOrange-500 {
  background: #FF5722;
}
.DeepOrange-600 {
  background: #F4511E;
}
.DeepOrange-700 {
  background: #E64A19;
}
.DeepOrange-800 {
  background: #D84315;
}
.DeepOrange-900 {
  background: #BF360C;
}
.DeepOrange-transparent {
  background: rgba(255, 87, 34, 0.5);
}
.Brown {
  background: #795548;
}
.Brown-Dark {
  background: #4E342E;
}
.Brown-Light {
  background: #D7CCC8;
}
.Brown-50 {
  background: #EFEBE9;
}
.Brown-100 {
  background: #D7CCC8;
}
.Brown-200 {
  background: #BCAAA4;
}
.Brown-300 {
  background: #A1887F;
}
.Brown-400 {
  background: #8D6E63;
}
.Brown-500 {
  background: #795548;
}
.Brown-600 {
  background: #6D4C41;
}
.Brown-700 {
  background: #5D4037;
}
.Brown-800 {
  background: #4E342E;
}
.Brown-900 {
  background: #3E2723;
}
.Brown-transparent {
  background: rgba(121, 85, 72, 0.5);
}
.Grey {
  background: #9E9E9E;
}
.Grey-Dark {
  background: #424242;
}
.Grey-Light {
  background: #F5F5F5;
}
.Grey-50 {
  background: #FAFAFA;
}
.Grey-100 {
  background: #F5F5F5;
}
.Grey-200 {
  background: #EEEEEE;
}
.Grey-300 {
  background: #E0E0E0;
}
.Grey-400 {
  background: #BDBDBD;
}
.Grey-500 {
  background: #9E9E9E;
}
.Grey-600 {
  background: #757575;
}
.Grey-700 {
  background: #616161;
}
.Grey-800 {
  background: #424242;
}
.Grey-900 {
  background: #212121;
}
.Grey-transparent {
  background: rgba(158, 158, 158, 0.5);
}
.BlueGrey {
  background: #607D8B;
}
.BlueGrey-Dark {
  background: #37474F;
}
.BlueGrey-Light {
  background: #CFD8DC;
}
.BlueGrey-50 {
  background: #ECEFF1;
}
.BlueGrey-100 {
  background: #CFD8DC;
}
.BlueGrey-200 {
  background: #B0BEC5;
}
.BlueGrey-300 {
  background: #90A4AE;
}
.BlueGrey-400 {
  background: #78909C;
}
.BlueGrey-500 {
  background: #607D8B;
}
.BlueGrey-600 {
  background: #546E7A;
}
.BlueGrey-700 {
  background: #455A64;
}
.BlueGrey-800 {
  background: #37474F;
}
.BlueGrey-900 {
  background: #263238;
}
.BlueGrey-transparent {
  background: rgba(158, 158, 158, 0.5);
}
.Black {
  background: #000000;
}
.Black-transparent {
  background: rgba(0, 0, 0, 0.5);
}
.Dark {
  background: #424242;
}
.Light {
  background: #E0E0E0;
}
.White {
  background: #FFFFFF;
}
.White-transparent {
  background: rgba(255, 255, 255, 0.5);
}
/*TEXT COLOR*/
.tc-Red {
  color: #F44336;
}
.tc-Red-Dark {
  color: #C62828;
}
.tc-Red-Light {
  color: #FFCDD2;
}
.tc-Red-50 {
  color: #FFEBEE;
}
.tc-Red-100 {
  color: #FFCDD2;
}
.tc-Red-200 {
  color: #EF9A9A;
}
.tc-Red-300 {
  color: #E57373;
}
.tc-Red-400 {
  color: #EF5350;
}
.tc-Red-500 {
  color: #F44336;
}
.tc-Red-600 {
  color: #E53935;
}
.tc-Red-700 {
  color: #D32F2F;
}
.tc-Red-800 {
  color: #C62828;
}
.tc-Red-900 {
  color: #B71C1C;
}
.tc-Pink {
  color: #E91E63;
}
.tc-Pink-Dark {
  color: #AD1457;
}
.tc-Pink-Light {
  color: #F8BBD0;
}
.tc-Pink-50 {
  color: #FCE4EC;
}
.tc-Pink-100 {
  color: #F8BBD0;
}
.tc-Pink-200 {
  color: #F48FB1;
}
.tc-Pink-300 {
  color: #F06292;
}
.tc-Pink-400 {
  color: #EC407A;
}
.tc-Pink-500 {
  color: #E91E63;
}
.tc-Pink-600 {
  color: #D81B60;
}
.tc-Pink-700 {
  color: #C2185B;
}
.tc-Pink-800 {
  color: #AD1457;
}
.tc-Pink-900 {
  color: #880E4F;
}
.tc-Purple {
  color: #9C27B0;
}
.tc-Purple-Dark {
  color: #6A1B9A;
}
.tc-Purple-Light {
  color: #E1BEE7;
}
.tc-Purple-50 {
  color: #F3E5F5;
}
.tc-Purple-100 {
  color: #E1BEE7;
}
.tc-Purple-200 {
  color: #CE93D8;
}
.tc-Purple-300 {
  color: #BA68C8;
}
.tc-Purple-400 {
  color: #AB47BC;
}
.tc-Purple-500 {
  color: #9C27B0;
}
.tc-Purple-600 {
  color: #8E24AA;
}
.tc-Purple-700 {
  color: #7B1FA2;
}
.tc-Purple-800 {
  color: #6A1B9A;
}
.tc-Purple-900 {
  color: #4A148C;
}
.tc-DeepPurple {
  color: #673AB7;
}
.tc-DeepPurple-Dark {
  color: #4527A0;
}
.tc-DeepPurple-Light {
  color: #EDE7F6;
}
.tc-DeepPurple-50 {
  color: #EDE7F6;
}
.tc-DeepPurple-100 {
  color: #D1C4E9;
}
.tc-DeepPurple-200 {
  color: #B39DDB;
}
.tc-DeepPurple-300 {
  color: #9575CD;
}
.tc-DeepPurple-400 {
  color: #7E57C2;
}
.tc-DeepPurple-500 {
  color: #673AB7;
}
.tc-DeepPurple-600 {
  color: #5E35B1;
}
.tc-DeepPurple-700 {
  color: #512DA8;
}
.tc-DeepPurple-800 {
  color: #4527A0;
}
.tc-DeepPurple-900 {
  color: #311B92;
}
.tc-Indigo {
  color: #3F51B5;
}
.tc-Indigo-Dark {
  color: #283593;
}
.tc-Indigo-Light {
  color: #C5CAE9;
}
.tc-Indigo-50 {
  color: #E8EAF6;
}
.tc-Indigo-100 {
  color: #C5CAE9;
}
.tc-Indigo-200 {
  color: #9FA8DA;
}
.tc-Indigo-300 {
  color: #7986CB;
}
.tc-Indigo-400 {
  color: #5C6BC0;
}
.tc-Indigo-500 {
  color: #3F51B5;
}
.tc-Indigo-600 {
  color: #3949AB;
}
.tc-Indigo-700 {
  color: #303F9F;
}
.tc-Indigo-800 {
  color: #283593;
}
.tc-Indigo-900 {
  color: #1A237E;
}
.tc-Blue {
  color: #2196F3;
}
.tc-Blue-Dark {
  color: #1565C0;
}
.tc-Blue-Light {
  color: #BBDEFB;
}
.tc-Blue-50 {
  color: #E3F2FD;
}
.tc-Blue-100 {
  color: #BBDEFB;
}
.tc-Blue-200 {
  color: #90CAF9;
}
.tc-Blue-300 {
  color: #64B5F6;
}
.tc-Blue-400 {
  color: #42A5F5;
}
.tc-Blue-500 {
  color: #2196F3;
}
.tc-Blue-600 {
  color: #1E88E5;
}
.tc-Blue-700 {
  color: #1976D2;
}
.tc-Blue-800 {
  color: #1565C0;
}
.tc-Blue-900 {
  color: #0D47A1;
}
.tc-Cyan {
  color: #00BCD4;
}
.tc-Cyan-Dark {
  color: #00838F;
}
.tc-Cyan-Light {
  color: #B2EBF2;
}
.tc-Cyan-50 {
  color: #E0F7FA;
}
.tc-Cyan-100 {
  color: #B2EBF2;
}
.tc-Cyan-200 {
  color: #80DEEA;
}
.tc-Cyan-300 {
  color: #4DD0E1;
}
.tc-Cyan-400 {
  color: #26C6DA;
}
.tc-Cyan-500 {
  color: #00BCD4;
}
.tc-Cyan-600 {
  color: #00ACC1;
}
.tc-Cyan-700 {
  color: #0097A7;
}
.tc-Cyan-800 {
  color: #00838F;
}
.tc-Cyan-900 {
  color: #006064;
}
.tc-Teal {
  color: #009688;
}
.tc-Teal-Dark {
  color: #00695C;
}
.tc-Teal-Light {
  color: #B2DFDB;
}
.tc-Teal-50 {
  color: #E0F2F1;
}
.tc-Teal-100 {
  color: #B2DFDB;
}
.tc-Teal-200 {
  color: #80CBC4;
}
.tc-Teal-300 {
  color: #4DB6AC;
}
.tc-Teal-400 {
  color: #26A69A;
}
.tc-Teal-500 {
  color: #009688;
}
.tc-Teal-600 {
  color: #00897B;
}
.tc-Teal-700 {
  color: #00796B;
}
.tc-Teal-800 {
  color: #00695C;
}
.tc-Teal-900 {
  color: #004D40;
}
.tc-Green {
  color: #4CAF50;
}
.tc-Green-Dark {
  color: #2E7D32;
}
.tc-Green-Light {
  color: #C8E6C9;
}
.tc-Green-50 {
  color: #E8F5E9;
}
.tc-Green-100 {
  color: #C8E6C9;
}
.tc-Green-200 {
  color: #A5D6A7;
}
.tc-Green-300 {
  color: #81C784;
}
.tc-Green-400 {
  color: #66BB6A;
}
.tc-Green-500 {
  color: #4CAF50;
}
.tc-Green-600 {
  color: #43A047;
}
.tc-Green-700 {
  color: #388E3C;
}
.tc-Green-800 {
  color: #2E7D32;
}
.tc-Green-900 {
  color: #1B5E20;
}
.tc-Lime {
  color: #CDDC39;
}
.tc-Lime-Dark {
  color: #9E9D24;
}
.tc-Lime-Light {
  color: #F0F4C3;
}
.tc-Lime-50 {
  color: #F9FBE7;
}
.tc-Lime-100 {
  color: #F0F4C3;
}
.tc-Lime-200 {
  color: #E6EE9C;
}
.tc-Lime-300 {
  color: #DCE775;
}
.tc-Lime-400 {
  color: #D4E157;
}
.tc-Lime-500 {
  color: #CDDC39;
}
.tc-Lime-600 {
  color: #C0CA33;
}
.tc-Lime-700 {
  color: #AFB42B;
}
.tc-Lime-800 {
  color: #9E9D24;
}
.tc-Lime-900 {
  color: #827717;
}
.tc-Yellow {
  color: #FFEB3B;
}
.tc-Yellow-Dark {
  color: #F9A825;
}
.tc-Yellow-Light {
  color: #FFF9C4;
}
.tc-Yellow-50 {
  color: #FFFDE7;
}
.tc-Yellow-100 {
  color: #FFF9C4;
}
.tc-Yellow-200 {
  color: #FFF59D;
}
.tc-Yellow-300 {
  color: #FFF176;
}
.tc-Yellow-400 {
  color: #FFEE58;
}
.tc-Yellow-500 {
  color: #FFEB3B;
}
.tc-Yellow-600 {
  color: #FDD835;
}
.tc-Yellow-700 {
  color: #FBC02D;
}
.tc-Yellow-800 {
  color: #F9A825;
}
.tc-Yellow-900 {
  color: #F57F17;
}
.tc-Orange {
  color: #FF9800;
}
.tc-Orange-Dark {
  color: #EF6C00;
}
.tc-Orange-Light {
  color: #FFE0B2;
}
.tc-Orange-50 {
  color: #FFF3E0;
}
.tc-Orange-100 {
  color: #FFE0B2;
}
.tc-Orange-200 {
  color: #FFCC80;
}
.tc-Orange-300 {
  color: #FFB74D;
}
.tc-Orange-400 {
  color: #FFA726;
}
.tc-Orange-500 {
  color: #FF9800;
}
.tc-Orange-600 {
  color: #FB8C00;
}
.tc-Orange-700 {
  color: #F57C00;
}
.tc-Orange-800 {
  color: #EF6C00;
}
.tc-Orange-900 {
  color: #E65100;
}
.tc-DeepOrange {
  color: #FF5722;
}
.tc-DeepOrange-Dark {
  color: #D84315;
}
.tc-DeepOrange-Light {
  color: #FFCCBC;
}
.tc-DeepOrange-50 {
  color: #FBE9E7;
}
.tc-DeepOrange-100 {
  color: #FFCCBC;
}
.tc-DeepOrange-200 {
  color: #FFAB91;
}
.tc-DeepOrange-300 {
  color: #FF8A65;
}
.tc-DeepOrange-400 {
  color: #FF7043;
}
.tc-DeepOrange-500 {
  color: #FF5722;
}
.tc-DeepOrange-600 {
  color: #F4511E;
}
.tc-DeepOrange-700 {
  color: #E64A19;
}
.tc-DeepOrange-800 {
  color: #D84315;
}
.tc-DeepOrange-900 {
  color: #BF360C;
}
.tc-Brown {
  color: #795548;
}
.tc-Brown-Dark {
  color: #4E342E;
}
.tc-Brown-Light {
  color: #D7CCC8;
}
.tc-Brown-50 {
  color: #EFEBE9;
}
.tc-Brown-100 {
  color: #D7CCC8;
}
.tc-Brown-200 {
  color: #BCAAA4;
}
.tc-Brown-300 {
  color: #A1887F;
}
.tc-Brown-400 {
  color: #8D6E63;
}
.tc-Brown-500 {
  color: #795548;
}
.tc-Brown-600 {
  color: #6D4C41;
}
.tc-Brown-700 {
  color: #5D4037;
}
.tc-Brown-800 {
  color: #4E342E;
}
.tc-Brown-900 {
  color: #3E2723;
}
.tc-Grey {
  color: #9E9E9E;
}
.tc-Grey-Dark {
  color: #424242;
}
.tc-Grey-Light {
  color: #F5F5F5;
}
.tc-Grey-50 {
  color: #FAFAFA;
}
.tc-Grey-100 {
  color: #F5F5F5;
}
.tc-Grey-200 {
  color: #EEEEEE;
}
.tc-Grey-300 {
  color: #E0E0E0;
}
.tc-Grey-400 {
  color: #BDBDBD;
}
.tc-Grey-500 {
  color: #9E9E9E;
}
.tc-Grey-600 {
  color: #757575;
}
.tc-Grey-700 {
  color: #616161;
}
.tc-Grey-800 {
  color: #424242;
}
.tc-Grey-900 {
  color: #212121;
}
.tc-BlueGrey {
  color: #607D8B;
}
.tc-BlueGrey-Dark {
  color: #37474F;
}
.tc-BlueGrey-Light {
  color: #CFD8DC;
}
.tc-BlueGrey-50 {
  color: #ECEFF1;
}
.tc-BlueGrey-100 {
  color: #CFD8DC;
}
.tc-BlueGrey-200 {
  color: #B0BEC5;
}
.tc-BlueGrey-300 {
  color: #90A4AE;
}
.tc-BlueGrey-400 {
  color: #78909C;
}
.tc-BlueGrey-500 {
  color: #607D8B;
}
.tc-BlueGrey-600 {
  color: #546E7A;
}
.tc-BlueGrey-700 {
  color: #455A64;
}
.tc-BlueGrey-800 {
  color: #37474F;
}
.tc-BlueGrey-900 {
  color: #263238;
}
.tc-Black {
  color: #000000;
}
.tc-Black-transparent {
  color: rgba(0, 0, 0, 0.5);
}
.tc-Dark {
  color: #424242;
}
.tc-Light {
  color: #E0E0E0;
}
.tc-White {
  color: #FFFFFF;
}
.tc-White-transparent {
  color: rgba(255, 255, 255, 0.5);
}
/*ANIMATIONS*/
[class*="anim"],
.anim {
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
.anim-Push {
  top: -5px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
}
.anim-Push:hover {
  margin-top: 10px;
  opacity: 1;
  top: 0px;
  border-bottom: 0px solid rgba(0, 0, 0, 0.3);
}
.anim-Bounce {
  -webkit-transition: all 300ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 300ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 300ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 300ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}
.anim-Bounce:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.anim-Shadow:hover {
  top: -10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}
.anim-Grow:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.anim-Up:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.anim-Down:hover {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}
.anim-Rotate:hover {
  -webkit-transform: rotateZ(5deg);
  transform: rotateZ(5deg);
}
.anim-Wobble_vertical:hover {
  -webkit-animation-name: wobble-vertical;
  animation-name: wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.anim-Wobble_horizontal:hover {
  -webkit-animation-name: wobble-horizontal;
  animation-name: wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.anim-Buzz:hover {
  -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}
@-webkit-keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
/* MODAL */
#modal-container {
  position: fixed;
  display: table;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 110;
}
#modal-container.Unfolding {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.Unfolding .modal-background .modal {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.Unfolding.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.Unfolding.out .modal-background .modal {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.Revealing {
  transform: scale(1);
}
#modal-container.Revealing .modal-background {
  background: transparent;
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.Revealing .modal-background .modal {
  opacity: 0;
  animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.Revealing + .content {
  animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.Revealing.out {
  animation: quickScaleDown 0s .5s linear forwards;
}
#modal-container.Revealing.out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.Revealing.out .modal-background .modal {
  animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.Revealing.out + .content {
  animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.Meep_Meep {
  transform: scale(1);
}
#modal-container.Meep_Meep .modal-background {
  background: transparent;
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.Meep_Meep .modal-background .modal {
  transform: translateX(-1500px);
  animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.Meep_Meep.out {
  animation: quickScaleDown 0s .5s linear forwards;
}
#modal-container.Meep_Meep.out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.Meep_Meep.out .modal-background .modal {
  animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
#modal-container .modal-background .modal {
  padding-top: 20px;
  background: white;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}
#modal-container .modal-background .modal .close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
#modal-container .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
#modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}
#modal-container .content {
  min-height: 100%;
  height: 100%;
  background: white;
  position: relative;
  z-index: 0;
}
#modal-container .content h1 {
  padding: 75px 0 30px 0;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}
@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes fadeIn {
  0% {
    background: transparent;
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: transparent;
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
}
@keyframes scaleBack {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.85);
  }
}
@keyframes scaleForward {
  0% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes slideUpLarge {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes slideDownLarge {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moveDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(150px);
  }
}
@keyframes roadRunnerIn {
  0% {
    transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform: translateX(30px) skewX(0deg) scaleX(0.9);
  }
  100% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}
@keyframes roadRunnerOut {
  0% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
  }
  100% {
    transform: translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}
@keyframes modalFadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
}
@keyframes modalFadeOut {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -20px;
  }
}
@keyframes killShot {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(300px) rotate(45deg);
    opacity: 0;
  }
}
@keyframes slowFade {
  0% {
    opacity: 1;
  }
  99.9% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@media screen and (max-device-width: 800px), only screen and (max-width: 800px) {
  .no_mob {
    display: none;
  }
  .column-4,
  .column-8 {
    width: 50%;
  }
  .column-6,
  .column-9 {
    width: 25%;
  }
  .column-5,
  .column-7,
  .column-10,
  .column-11 {
    width: 100%;
  }
}
@media screen and (max-device-width: 500px), only screen and (max-width: 500px) {
  .no_mob {
    display: none;
  }
  [class*="column-"] {
    width: 100%;
  }
  .menu {
    width: 100%;
  }
  .palette .bottom .color {
    padding: 30px 0px;
  }
  section.small {
    width: 100%;
  }
}
.follow {
  display: block;
  position: absolute;
  top: 0px;
  right: 10px;
  margin: 0px;
  padding: 0px;
  text-align: left;
}
.follow form {
  display: inline-block;
}
.follow button,
.follow a {
  display: inline-block;
  background: none;
  border: none;
  line-height: 30px;
  padding: 0px 10px;
  color: #000;
  outline: none;
  cursor: pointer;
}
.follow button i,
.follow a i {
  display: inline-block;
  line-height: 30px;
  pointer-events: none;
}
